<div class="jumbotron">
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Yii2 Audit</h1>
            <p>Records and displays web/cli requests, database changes, php/js errors and associated data.</p>
            <p><a class="btn btn-primary btn-lg" href="{{site.baseurl}}/docs/installation/" role="button">Installation Guide</a></p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://cloud.githubusercontent.com/assets/51875/8369827/b70355ee-1bfe-11e5-9748-dd864f0500de.png" class="fancybox" rel="screenshots"><img src="https://cloud.githubusercontent.com/assets/51875/8369827/b70355ee-1bfe-11e5-9748-dd864f0500de.png" alt="main screenshot"></a>
            </div>
        </div>
    </div>
    
  </div>
</div>