<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>{{site.name}}</h1>

                <p>{{site.description}}</p>

                <p>
                    <a class="btn btn-primary btn-lg" href="{{site.baseurl}}/docs/installation/" role="button">Installation Guide</a>
                </p>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{site.screenshot}}" class="fancybox" rel="screenshots"><img src="{{site.screenshot}}" alt="main screenshot"></a>
                </div>
            </div>
        </div>
    </div>
</div>