<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/">{{site.name}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{site.baseurl}}/docs/installation/">Installation</a></li>
                <li><a href="{{site.baseurl}}/docs/">Documentation</a></li>
                <li><a href="{{site.baseurl}}/downloads/">Downloads</a></li>
                <li><a href="{{site.baseurl}}/screenshots/">Screen Shots</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{site.baseurl}}/credits/">Credits</a></li>
                <li><a href="https://github.com/{{site.project}}/">GitHub Project</a></li>
            </ul>
        </div>
    </div>
</nav>
