body {
    margin-top: 64px;
}

img { 
    max-width: 100%; 
}

.navbar-brand {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABeUlEQVRIS82UjU3DQBSD7QloN+gGwAS0G5QNYAIyAp2gMAEwAWwAG9ARygYwgZGrd9HlrySlQZwURcol73v284UYeXHk+vg/AElnANYkF0NU91YgaQ7glSQlCcAngBcAK5LbLmgJiA4fSJ7nL0vaACjiWQK8AbCik3h+TfKxDZIDyg5rAHe7AuCiO0Dal3QF4C5AlyStqLJ+BXClUP5uy0hOGwBJ9tKd+J4scFczksvwu1VBpsTv3wBoqEgDqxSQZDtAct4TsLM3Bn6bq/gTgOX58ipIFpKWACZOhqTGft1nSU7ZGkAjTXvPQWT/AsBHVwwlTQB4yDMAU5KeZbl+Avhjz+M01N3XIuz9ZwCewRNJh6U9pl0nMWJoiA+VD13Kuou7oO9e7nxB0u/0U5DF0PJ9Um1Xvr5ifp6ZVTYgvf9FrirJoHT5/7Ox5zGHZGUFMgjQZWPA83mVkKMBOiH7ujpkr27XURVkobBdDsV2FMDgmB5iVfpmdAXfE27Rv8iqv8kAAAAASUVORK5CYII=') no-repeat 10px;
    padding-left: 40px;
}

#contributors ul {
    margin: 0;
    padding: 0;
}
#contributors li {
    width: 78px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    font-size: 75%;
}
#contributors img {
    width: 64px;
}

.thumbnail {
    background: #fff;
}
